/*Title CSS*/
.homepagecontainer {

	width:100%;
}

.homepagetitle {
  text-align: center;
}

body {
  margin-bottom: 0px;  /*this is so the footer doesn't have a margin at the bottom*/
}

/*Navigation CSS */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

li.nav {

  float: left;
}
li.nav {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li.nav:hover {
  background-color: #111;
}

a.nav {
  color: white;
  text-decoration: none;
}
a.nav:hover {
	text-decoration: none;
	color: #75f0cf;
}


/*Footer */
footer {
  position: relative;
  height: 34%;
  width: 100%;
  background-color: #333333;
  text-align: center;
}

p.copyright {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}
	
/*Login CSS*/

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #75f0cf;;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 30px;
  background-color:white;
  size: 100%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  /*doesn't exist anymore*/
}
	